In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (0,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37593935,Project Marketing Coordinator - Fixed Term Con...,Australia Jinding Group Pty Ltd,2018-10-30T00:00:00.000Z,Melbourne,CBD & Inner Suburbs,Real Estate & Property,Retail & Property Development,A unique 6 month project marketing opportunity...,<p>Jinding Australia is a leading Australian p...,60,70,Contract/Temp
1,37593924,Service Team Leader,Wesley Mission,2018-10-30T00:00:00.000Z,Sydney,Parramatta & Western Suburbs,Community Services & Development,Aged & Disability Support,Wesley Home & Residential Care • Permanent par...,<p><strong>Wesley Home &amp; Residential Care<...,60,70,Part Time
2,37593918,Mid-level Architectural Graduate - Recognised ...,Bespoke Careers,2018-10-30T00:00:00.000Z,Melbourne,CBD & Inner Suburbs,Design & Architecture,Architecture,Attention to detail and strong technical abili...,<p>Things are heating up on&nbsp;one of the ci...,60,70,Full Time
3,37593907,Storeperson - Crown High Reach Exp Req'd,Workforce International Pty Ltd,2018-10-30T00:00:00.000Z,Sydney,Parramatta & Western Suburbs,"Manufacturing, Transport & Logistics","Warehousing, Storage & Distribution",Our national client in Western Sydney are curr...,<p>Our nationally recognised client based in W...,60,70,Casual/Vacation
4,37593908,Support Coordinator,The Tipping Foundation,2018-10-30T00:00:00.000Z,Ballarat & Central Highlands,NaN,Community Services & Development,Management,Coordinate a mixture of community-based disabi...,<p><strong>ABOUT THE COMPANY</strong></p>\n ...,60,70,Full Time

# Question 2

### Find average salaries

In [4]:
jobs = df[['Title', 'LowestSalary', 'HighestSalary']].copy()
jobs.head()

,Title,LowestSalary,HighestSalary
0,Project Marketing Coordinator - Fixed Term Con...,60,70
1,Service Team Leader,60,70
2,Mid-level Architectural Graduate - Recognised ...,60,70
3,Storeperson - Crown High Reach Exp Req'd,60,70
4,Support Coordinator,60,70

In [5]:
jobs['AverageSalary'] = jobs.mean(axis=1).astype(int)
jobs

,Title,LowestSalary,HighestSalary,AverageSalary
0,Project Marketing Coordinator - Fixed Term Con...,60,70,65
1,Service Team Leader,60,70,65
2,Mid-level Architectural Graduate - Recognised ...,60,70,65
3,Storeperson - Crown High Reach Exp Req'd,60,70,65
4,Support Coordinator,60,70,65
5,Road worker,60,70,65
6,Case Manager - CASEY PROGRAM,60,70,65
7,Senior Property Manager | BDM | Future Equity ...,60,70,65
8,Business Support Officer | APS3 & APS4 | Disab...,60,70,65
9,"Support Facilitator – Suicide Prevention, Kath...",60,70,65
10,Boilermaker / Welders - Structural Steel,60,70,65
11,"Junior Contracts Administrator, more than one ...",60,70,65
12,Junior Estimator,60,70,65
13,Aboriginal Education and Programs Officer,60,70,65
14,Cartage Coordinator,60,70,65
15,Aboriginal Education and Programs Officer,60,70,65
16,Export Operations,60,70,65
17,Executive Assistant,60,70,65
18,Financial Planner Assistant / Administrator,60,70,65
19,TRANSPORT AND IN-HOME SUPPORT WORKERS,60,70,65
20,Executive Assistant to the General Manager,60,70,65
21,Executive Assistant to the General Manager,60,70,65
22,Talent Resourcer - 6 Month Contract,60,70,65
23,Community Relations Coordinator (Part-time),60,70,65
24,Pharmacist in Charge - Lethbridge Park,60,70,65
25,Operations Officer - Karratha,60,70,65
26,Early Childhood Teacher - Child Care,60,70,65
27,Finance Officer | Bookkeeper,60,70,65
28,"Research Fellow or Associate Research Fellow, ...",60,70,65
29,CNC Machinist / Fitter,60,70,65
...,...,...,...,...
149969,Manager in Market Risk Oversight - Non Linear,0,30,15
149970,"DIESEL FITTERS - CAT, Komatsu, Liebherr",0,30,15
149971,Auto Electricians with Aircon - Mining Experie...,0,30,15
149972,Salesforce Developer,0,30,15
149973,Legal Secretary - Exceptional Opportunity for ...,0,30,15
149974,"DIESEL FITTERS - CAT, Komatsu, Liebherr",0,30,15
149975,Auto Electricians with Aircon - Mining Experie...,0,30,15
149976,Venue Manager - Centenary Park Golf,0,30,15
149977,Domestic Violence Case Manager (DVCM),0,30,15
149978,"Lecturer, Perth",0,30,15
149979,"Senior Lecturer, Sydney - Nutritional & Dietet...",0,30,15
149980,Lecturer - Myotherapy - Perth,0,30,15
149981,"Senior Lecturer, 0.7FTE, Sydney - Nutritional ...",0,30,15
149982,"Lecturer, Brisbane - Social Sciences",0,30,15
149983,Truck Driver,0,30,15
149984,"Senior Lecturer, Brisbane - Social Sciences",0,30,15
149985,Lecturer - Myotherapy - Adelaide,0,30,15
149986,"Lecturer, Part Time (0.8 FTE) Melbourne - Soci...",0,30,15
149987,Weight Loss Consultant - Salisbury,0,30,15
149988,"DIESEL FITTERS - CAT, Komatsu, Liebherr",0,30,15
149989,Auto Electricians with Aircon - Mining Experie...,0,30,15
149990,"Lecturer, Gold Coast",0,30,15
149991,CHPP Specialist,0,30,15
149992,Food Process Workers and Factory Labourers,0,30,15
149993,Scaffolders,0,30,15
149994,Accountant - $80k +Super,0,30,15
149995,Recruitment Administrator,0,30,15
149996,Service Department Reception,0,30,15
149997,Tow Truck Driver | Training Provided,0,30,15
149998,Electrical Project Engineer - Design biased,0,30,15

### Clean Id column

In [48]:
df['Id'] = df['Id'].astype(str)

In [49]:
df['Id'] = df['Id'].str.slice(0, 8, 1)

In [50]:
df.loc[149969, 'Id']

'38084492'

In [51]:
df['Id'] = df['Id'].astype(int)

In [52]:
df.loc[10, 'Id']

37593836

### Clean Date column